services:
  - type: web
    name: amami-news-map
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    plan: free
    autoDeploy: true
    envVars:
      - key: PORT
        value: 10000
